h2{
    text-align: center;
 font-family:Courier;
    font-size: 30px;
    font-weight: 200;
    background-color:#F8B5FF;
}
p{
    text-align: center; 
    display: inline-block;
    font-family:;
}
body{
    background-color: #FFD1FE;
}
h1{
        text-align: center;
 font-family:Brush Script MT;
    font-size: 45px;
    font-weight: 200;
    
}